{% extends "base.html" %}

{% block content %}
    <ul class="breadcrumb">
        <li><a href="{% url 'home' %}">Главная</a><span class="divider">/</span></li>
        <li><a href="{% url 'post_list' %}">Список постов</a><span class="divider">/</span></li>
        <li class="active">Просмотр поста<span class="divider">/</span></li>
        <li class="active">Удаление поста</li>
    </ul>
    {% if request.user.is_authenticated %}
        <h1>Вы точно хотите удалить пост {{ post.title }}?</h1>
        <form action="{% url 'delete_post' post.pk %}" method="post">
            {% csrf_token %}
            <button>Да, удалить</button>
        </form>
    {% else %}
        <h3>Чтобы удалить пост <a href="{% url 'login' %}">войдите</a> в учетную запись или <a href="{% url 'register' %}"> зарегестрируйтесь</a></h3>
    {% endif %}
{% endblock %}