{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
    <ul class="breadcrumb">
        <li class="active">Главная</li>
    </ul>
    <table>
        <tbody>
            <tr><td valign="top" width="75%"><h3>Вы зашли на мой прекрасный блог, моё имя Виталий, добро пожаловать! Здесь вы смодете увидеть плоды моего труда, а именно несколько постов и комментариев к ним. Прошу не судите строго о дизайне и недоработках в верстке. Однажды я сделаю этот блог восхитительным!</h3></td><td><img src="{% static "bootstrap/img/vit.jpg" %}"
            width="250" height="400"></td></tr>
        </tbody>
    </table>
{% endblock %}